/**
 * @Date:   2019-10-21T10:56:08+01:00
 * @Last modified time: 2019-11-05T18:21:40+00:00
 */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
    background-image: url("/images/background6.jpg") ;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.mainLink
{
  float: left;
}

.otherNav
{
  color: white;
  text-decoration: none !important;
}

.otherNav:hover{
  color: #95989b;
}

.smallerOtherNav{
  text-decoration: none !important;
  color: #95989b;
  margin-bottom: 20px;
}

.smallerOtherNav:hover{
  color:white;
}

.topSpace {
  margin-top: 20px;
}

.bigTopSpace
{
  margin-top: 40px;
}

.spaceRight
{
  margin-right: 20px;
}

.characterListHeading{
  background-color: #343a40;
  color: white;
  border-radius: 10px;
}

.navbar{
  background-color: #757473;
}

.images{
  height: 75%;
  width: 100%;
}

.cardEpisode
{
  height: 100%;
  width: 100%;
}

.buttonSpace{
  align-items: center;
  justify-content: center;
  margin:auto;
}

.rowOne{
  background-color: white;
}
.rowTwo{
  background-color: grey;
}

.bottomSpace{
  margin-bottom: 20px;
}

.space{
  margin-left: 5px;
}

.dropList{
  height: 70px;
  overflow-y: scroll;
}

.otherDropList{
  max-height: 56px;
}
